@font-face {
  font-family: 'PuHui_Thin';
  src: url('../fonts/AlibabaPuHuiTi-3-35-Thin.ttf');
}

@font-face {
  font-family: 'PuHui_Light';
  src: url('../fonts/AlibabaPuHuiTi-3-35-Light.ttf');
}

@font-face {
  font-family: 'PuHui_Regular';
  src: url('../fonts/AlibabaPuHuiTi-3-55-Regular.ttf');
}

@font-face {
  font-family: 'PuHui_RegularL3';
  src: url('../fonts/AlibabaPuHuiTi-3-55-RegularL3.ttf');
}

@font-face {
  font-family: 'PuHui_Medium';
  src: url('../fonts/AlibabaPuHuiTi-3-65-Medium.ttf');
}

@font-face {
  font-family: 'PuHui_SemiBold';
  src: url('../fonts/AlibabaPuHuiTi-3-75-SemiBold.ttf');
}

@font-face {
  font-family: 'PuHui_Bold';
  src: url('../fonts/AlibabaPuHuiTi-3-85-Bold.ttf');
}

@font-face {
  font-family: 'PuHui_ExtraBold';
  src: url('../fonts/AlibabaPuHuiTi-3-95-ExtraBold.ttf');
}

@font-face {
  font-family: 'PuHui_Heavy';
  src: url('../fonts/AlibabaPuHuiTi-3-105-Heavy.ttf');
}

@font-face {
  font-family: 'PuHui_Black';
  src: url('../fonts/AlibabaPuHuiTi-3-115-Black.ttf');
}

.PuHui_Thin {
  font-family: 'PuHui_Thin';
}

.PuHui_Light {
  font-family: 'PuHui_Light';
}

.PuHui_Regular {
  font-family: 'PuHui_Regular';
}

.PuHui_RegularL3 {
  font-family: 'PuHui_RegularL3';
}

.PuHui_Medium {
  font-family: 'PuHui_Medium';
}

.PuHui_SemiBold {
  font-family: 'PuHui_SemiBold';
}

.PuHui_Bold {
  font-family: 'PuHui_Bold';
}

.PuHui_ExtraBold {
  font-family: 'PuHui_ExtraBold';
}

.PuHui_Heavy {
  font-family: 'PuHui_Heavy';
}

.PuHui_Black {
  font-family: 'PuHui_Black';
}
