* {
  transition: color 1s linear;
}

:root {
  --vp-doc-top-height: -16px;
}

::selection {
  color: var(--vp-button-brand-text);
  background-color: var(--vp-c-brand-1);
}

html:root {
  --vp-font-family-base: 'PuHui_Regular';
}

html.dark:root {
  --vp-font-family-base: 'PuHui_Thin';
}

.VPLink,
.VPFlyout,
strong,
b,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PuHui_Bold' !important;
}

.VPNavBarTitle {
  .title {
    font-size: 12px;

    .VPImage {
      width: 65px;
    }
  }
}

.VPFooter {
  padding: 16px !important;
}
